@font-face {
    font-family: 'San Francisco Pro Display Thin';
    src: url('SFUIDisplay-Thin.eot');
    src: url('SFUIDisplay-Thin.eot?#iefix') format('embedded-opentype'),
    font-weight: normal;
    font-style: normal;
}