* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    font-size: 1rem;
}

a {
    color: #000;
}

a:hover {
    color: #000;
}

html {
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
    background: #fff;
}

.name-error,
.number-error,
.email-error {
    width: 90vw;
    color: red;
    margin-top: -10px !important;
}

input:required {
    box-shadow: 0px 0px 0px 0px transparent;
}

.valid {
    border: none !important;
}

.invalid {
    border: 2px solid red !important;
    box-shadow: 0px 0px 0px 0px;
}

.invalid-text {
    display: block !important;
    max-width: 350px;
    margin-bottom: 5px;
}

.valid-text {
    display: none;
}


.nav-wrapper {
    padding: 25px 0px;
}

.nav-link {
    margin-left: 38px;
}

.header-item-slider {
    height: 433px;
}

.nav-link:hover {
    border-bottom: 3px solid #BA1117;
    margin-bottom: -3px;
}

.header-caption {
    max-width: 523px;
    text-align: center;
}

.carousel-inner img {
    width: 100%;
    height: 433px;
}

.carousel-inner {
    border-radius: 0;
}


.slider-text {
    width: 100%;
    color: #fff;
    position: absolute;
    z-index: 99;
    padding-top: 120px;
}

.slider-text-btn {
    background: #fff;
    color: #000;
    width: 255px;
    padding: 20px 60px;
    margin-top: 30px;
}

.slider-text-btn span {
    font-size: 0.9375rem;
}

.windows {
    padding-top: 100px;
}

.windows-text {
    color: #454545;
    max-width: 958px;
    margin-top: 15px;
    text-align: center;
    font-size: 1.125rem;
}

.windows-container {
    padding-top: 60px;
}

.windows-item-wrapper {
    margin-bottom: 80px;
}

.windows-item {
    margin-bottom: 80px;
}

.window-item-properties p {
    font-size: 0.9375rem;
    color: #454545;
}

.windows-price {
    font-size: 1.1875rem;
    color: #101014;
}

.text-red {
    color: red;
}

.callback-item-img {
    background: url(../img/callback.png) no-repeat;
    background-size: cover;
    background-position: center;
}

.callback-item-form {
    padding: 45px 155px 55px 155px;
    background: #F5F5F5;
    max-height: 470px;
}

.callback-caption {
    color: #101014;
    font-size: 2.3rem;
    margin-bottom: 0;
}

.callback-text {
    color: #454545;
    font-size: 1.125rem;
    margin-bottom: 20px;
}

.callback-item-form input {
    border: none;
    width: 325px;
    height: 50px;
    background: #DBD7D7;
    border-radius: 3px;
    padding: 15px 20px;
    margin-bottom: 15px;
}

.callback-btn {
    font-weight: 500;
    color: #fff;
    width: 165px;
    height: 50px;
    background: #BA1117;
    border-radius: 3px;
}

.callback-btn:hover,
.callback-btn:focus {
    color: #BA1117;
    background: #fff;
    border: 2px solid #BA1117 !important;
}

.offers {
    padding: 50px 150px 100px 150px;
}

.offers-item-wrapper {
    max-width: 1300px;
}

.offers-item {
    border: 0;
    width: 263px;
    text-align: center;
}

.offers-caption {
    text-align: center;
    margin-bottom: 60px;
}

.offers-item img {
    width: 263px;
    height: 263px;
}

.offers-card-text {
    color: #454545;
    font-size: 1rem;
}

.offers-btn {
    margin-top: 20px;
    font-weight: 500;
    width: 215px;
    height: 55px;
    color: #BA1117;
    border: 2px solid #BA1117;
    background: transparent;
}

.offers-btn:focus {
    border: 2px solid #BA1117 !important;
}

.offers-btn:hover {
    background: #BA1117;
    color: #fff;
}


.profile-selection-caption {
    text-align: center;
    margin-bottom: 60px;
}

.profile-selection-btn {
    width: 250px;
    height: 56px;
    color: #fff;
    background: #BA1117;
    border-radius: 3px;
}

.profile-selection-btn:hover,
.profile-selection-btn:focus {
    background: #fff;
    color: #BA1117;
    border: 2px solid #BA1117 !important;
}

.profile-selection-picking-item {
    width: 195px;
    height: 46px;
    background: #EEEEEE;
    border-radius: 30px;
    margin-bottom: 30px;
}

.profile-selection-stars {
    margin: 45px 0px 30px 0px;
}


.custom-control-input:checked~.custom-control-label::before {
    background-color: #ABABAB !important;
    border-color: #ABABAB !important;
    box-shadow: 0px 0px 0px 0px !important;
}

.custom-radio .custom-control-input:checked~.custom-control-label::after {
    background-image: url(../icons/checked.svg) !important;
}


.advantages {
    padding: 50px 150px;
}

.advantages-caption {
    text-align: center;
}

.advantages-item-wrapper {
    max-width: 1500px;
}

.advantages-item {
    padding: 35px 50px;
}

.advantages-item1 {
    border-right: 1px solid #B0AEAE;
    border-bottom: 1px solid #B0AEAE;
    padding-bottom: 100px;
}

.advantages-item2 {
    border-right: 1px solid #B0AEAE;
    border-bottom: 1px solid #B0AEAE;
    padding-bottom: 100px;
}

.advantages-item3 {
    border-bottom: 1px solid #B0AEAE;
}

.advantages-item4 {
    border-right: 1px solid #B0AEAE;
}

.advantages-item6 {
    border-left: 1px solid #B0AEAE;
}

.advantages-item-icon {
    margin: 25px;
}

.work-time {
    padding-bottom: 100px;
    max-width: 1900px;
}

.work-time-item-wrapper,
.about-us-item-wrapper {
    flex-wrap: wrap-reverse;
}

.work-time-caption {
    margin: 40px 0px 70px 0px;
    text-align: center;
    color: #BA1117;
}

.work-time-text,
.about-us-text,
.payment-item-description-text {
    color: #454545;
}

.work-time-item-description,
.about-us-item-description {
    max-width: 540px;
}

.work-time-btn {
    margin-top: 20px;
    width: 260px;
    height: 60px;
    border-radius: 3px;
    background: #BA1117;
    color: #fff;
}

.work-time-btn:hover,
.portfolio-btn:hover {
    border: 2px solid #BA1117;
    background: #fff;
    color: #BA1117;
}

.work-time-item img,
.about-us-item img {
    max-width: 670px;
    width: 100%;
    height: 471px;
}

.work-scheme-item {
    border-bottom: 1px solid #B0AEAE;
}

.work-scheme,
.about-us {
    padding-bottom: 100px;
}

.work-scheme-item-number {
    width: 67px;
    height: 67px;
    border: 2px solid #1F5A7B;
    border-radius: 50%;
}

.work-scheme-item-important {
    color: #1F5A7B;
    font-size: 1.375rem;
}

.about-us-item-icons img {
    width: 40px;
    height: 40px;
}

.about-us-item-icons-important {
    font-size: 1.875rem;
    color: #BA1117;
    font-weight: bold;
}

.portfolio {
    max-width: 1950px;
}

.portfolio img {
    width: 265px;
    height: 205px;
}

.portfolio-caption {
    text-align: center;
    margin-bottom: 30px;
}

.portfolio-btn {
    margin: 40px auto;
    width: 263px;
    height: 60px;
    color: #fff;
    background: #BA1117;
    border-radius: 3px;
}

.comments {
    max-width: 1900px;
    margin: 0px auto;
    padding: 0px 100px 100px 100px;
}

.comments-item {
    position: relative;
    padding: 34px 26px 20px 34px;
    background: #F5F5F5;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
}

.comments-item img {
    width: 70px;
    height: 70px;
}

.comments-stars img {
    width: 27px;
    height: 27px;
}

.comments-stars {
    margin-left: 80px;
}


.comments-item-text {
    margin-top: 20px;
    font-size: 0.9375rem;
    color: #454545;
}

.comments-item-btn {
    color: #fff;
    width: 135px;
    height: 41px;
    background: #BA1117;
    border-radius: 3px 0px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.comments-item-btn:hover {
    color: #fff;
}

.comments-indicators {
    margin: -30px auto;
}



.payment-caption {
    text-align: center;
    margin-bottom: 60px;
}

.payment-item img {
    max-width: 400px;
    width: 100%;
    height: 255px;
}

.payment {
    max-width: 1950px;
    padding: 0px 150px 100px 150px;
}

.work-scheme-item-important {
    color: #1F5A7B;
    font-size: 1.375rem;
}

.about-us-item-icons img {
    width: 40px;
    height: 40px;
}

.payment-item-description {
    max-width: 940px;
}

.payment-item-description-text {
    font-size: 1.125rem;
}

.consultation {
    width: 100%;
    color: #fff;
    padding: 150px 100px 200px 100px;
    background: url(../img/consultation.png) no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: bottom;
}

.consultation-item-text {
    color: #F5F5F5;
    max-width: 550px;
    font-size: 1.3rem;
    line-height: 140%;
    margin-right: 100px;
}

.consultation-item-form {
    max-width: 520px;
    color: #101014;
    padding: 45px 35px;
    background: #F5F5F5;
    border: 3px solid #BA1117;
    border-radius: 3px;
}

.consultation-item-form input {
    padding: 14px 17px;
    width: 451px;
    height: 54px;
    border: 2px solid #9F9F9F;
}

.consultation-btn {
    color: #fff;
    background: #BA1117;
    border-radius: 3px;
    width: 225px;
    height: 50px;
    margin: 0px !important;
}

.consultation-btn:hover {
    color: #BA1117;
    background: #fff;
    border: 2px solid #BA1117;
    width: 225px;
    height: 50px;
}

.consultation-item-form-text {
    font-size: 1.125rem;
    color: #454545;
    margin-bottom: 30px;
}

.footer {
    padding: 60px;
    color: #F5F5F5;
    background: #282828;
}

.footer a {
    color: #F5F5F5;
    text-decoration: none;
}

.footer-item-wrapper {
    max-width: 1800px;
}

.footer-item-important {
    padding: 9px 7px;
    margin-bottom: 20px;
    text-align: center;
    border: 2px solid #F5F5F5;
    color: #F5F5F5;
    opacity: 0.7;
    font-size: 0.875rem;
}

.footer-item-number {
    font-size: 1.375rem;
}

.footer-item-time {
    padding-left: 80px;
}


@media screen and (max-width: 1530px) {
    .advantages-item {
        padding: 15px;
    }
}

@media screen and (max-width: 1350px) {
    .advantages {
        padding: 25px 50px;
    }

    .work-time-item img {
        height: 400px;
    }

    .offers {
        padding: 50px 50px 100px 50px;
    }

    .comments {
        padding: 0px 50px 100px 50px;
    }
}

@media screen and (max-width: 1200px) {
    .work-time-item {
        justify-content: center !important;
    }

    .work-time-item-description,
    .about-us-item-description {
        max-width: 940px;
        text-align: center;
    }

    .about-us-item img {
        margin-bottom: 20px;
    }

    .about-us-item,
    .about-us-item-icons {
        justify-content: center !important;
    }

    .work-time-item img {
        max-width: 640px;
        margin-bottom: 30px;
    }

    .work-time-caption {
        margin: 30px 0px 40px 0px;
    }

    .portfolio {
        max-width: 800px;
    }

    .comments-item-wrapper {
        flex-direction: column;
    }

    .comments-item {
        margin-left: 0px !important;
        margin-bottom: 30px;
    }

    .comments-stars-mobile {
        display: block !important;
    }

    .comments-stars {
        display: none !important;
    }

    .comments-stars-mobile {
        display: block !important;
    }

    .payment-sub-caption {
        margin-bottom: 20px;
        text-align: center;
    }

    .payment-item img {
        margin-bottom: 20px;
        max-width: 1000px;
        width: 100%;
        height: 300px;
    }

    .consultation {
        padding: 100px 50px 100px 50px;
    }

    .consultation-item-form {
        padding: 25px 15px;
    }

    .consultation-item-text {
        margin-right: 30px;
    }

    .about-us {
        padding-bottom: 40px;
    }

    .offers {
        padding: 50px 100px 100px 100px;
    }

    .comments-item2,
    .comments-item3,
    .comments-item6 {
        display: none !important;
    }
}

@media screen and (max-width: 1120px) {
    .nav-link {
        margin-left: 15px;
    }

    .advantages-item-icon {
        width: 40px;
        height: 40px;
        margin: 15px;
    }
}

@media screen and (max-width: 992px) {
    .nav-link {
        margin-left: 15px;
        display: inline-block;
    }

    .navbar {
        width: 100%;
    }

    .windows-caption {
        text-align: center;
        font-size: 1.5rem;
    }

    .slider-text {
        padding-top: 100px;
    }

    .profile-selection-picking {
        display: flex;
        justify-content: space-around;
    }

    .profile-selection-picking-wrapper {
        order: 2;
    }

    .profile-selection-wrapper {
        flex-wrap: wrap-reverse;
    }

    .profile-selection-caption {
        margin-bottom: 0px !important;
    }

    .advantages-item {
        border: 0;
        border-bottom: 1px solid #B0AEAE;
    }

    .advantages-item5 {
        border: 0;
    }

    .advantages-item6 {
        display: none;
    }

    .advantages-caption {
        margin-bottom: 10px !important;
    }

    .advantages-item-img-mobile {
        display: block !important;
        width: 40px;
        height: 40px;
    }

    .callback-caption {
        font-size: 1.5rem;
    }

    .callback-text {
        font-size: 1rem;
    }

    .callback-item-form {
        padding: 55px 85px;
    }

    .work-scheme-item-number {
        min-width: 58px;
        min-height: 58px;
        max-width: 58px;
        max-height: 58px;
        margin-right: 20px !important;
    }

    .work-scheme-item p,
    .work-scheme-item-important {
        font-size: 1rem;
    }

    .consultation {
        padding: 50px 20px 80px 20px;
    }

    .consultation-item-text {
        margin-right: 0px;
        margin-bottom: 20px;
    }

    .footer {
        padding: 15px;
    }

    .footer-item-wrapper {
        flex-direction: column;
    }

    .footer-item {
        margin-bottom: 40px;
    }

    .footer-item p,
    .footer-item-cards {
        text-align: center;
    }

    .footer-item-time {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap-reverse;
        text-align: center;
        padding: 0px;
    }

    .footer-item-time p {
        margin-bottom: 10px;
        font-size: 1rem;
    }

    .footer-item-timetable {
        margin-top: 30px;
    }

    .slider1,
    .slider2,
    .slider3 {
        display: none !important;
    }

    .slider1-mobile,
    .slider2-mobile,
    .slider3-mobile {
        display: block !important;
    }

    .work-time {
        padding-bottom: 40px;
    }

}

@media screen and (max-width: 766px) {
    .profile-selection-img {
        order: 1;
    }

    .profile-selection-img {
        display: flex;
        justify-content: center;
    }

    .profile-selection-description {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .profile-selection-picking {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .profile-selection-picking-item {
        width: 400px;
    }

    .advantages-item h3 {
        font-size: 1.5rem;
    }

    .portfolio img {
        width: 220px;
        height: 160px;
    }

    .payment {
        padding: 0px 20px 100px 20px;
    }

    .payment-caption {
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 570px) {
    .portfolio img {
        width: 190px;
        height: 130px;
    }

    .comments-item {
        width: 450px;
    }

    .consultation {
        padding: 40px 0px 40px 0px;
    }

    .consultation-item-form {
        width: 100%;
        padding: 25px 15px;
    }

    .consultation-item-text {
        margin-right: 0px;
        margin-bottom: 20px;
        padding: 25px 35px;
    }

    .consultation-item-text p {
        font-size: 0.9375rem;
    }

    .consultation-item-text img {
        width: 26px;
        height: 26px;
    }

    .consultation-item-form {
        display: none;
    }

    .consultation-item-form-mobile {
        width: 100%;
        max-width: 600px;
        border-radius: 0;
        display: flex !important;
        flex-direction: column;
    }

    .about-us-item-description {
        text-align: left;
    }

    .about-us-caption {
        text-align: center;
    }

    .about-us-item-icons-text span {
        font-size: 0.7rem;
    }

    .about-us-item-icons-important {
        font-size: 1.5rem !important;
    }
}

@media screen and (max-width: 540px) {
    .windows {
        padding: 40px 0px 20px 0px;
    }

    .windows-caption {
        margin-left: 10px;
    }

    .windows-text {
        text-align: left;
        font-size: 0.875rem;
        padding: 0px 10px;
    }

    .window-item-properties p {
        font-size: 0.8rem;
        margin-bottom: 5px !important;
    }

    .windows-item-preview-container {
        padding: 0px;
    }

    .windows-item-text {
        padding-left: 40px;
    }

    .header-caption {
        font-size: 1.5rem;
    }

    .slider-text-btn {
        width: 192px;
        height: 40px;
        padding: 5px 20px;

    }

    .slider-text-btn span {
        font-size: 0.8rem;
    }

    .carousel-inner-header,
    .header-item-slider {
        height: 300px;
    }

    .callback-item-form {
        padding: 55px 10px;
    }

    .callback-caption {
        font-size: 1.5rem;
    }

    .callback-text {
        font-size: 1rem;
    }

    .profile-selection-stars {
        margin: 25px 0px 30px 0px;
    }

    .offers {
        padding: 15px 10px 80px 15px;
    }

    .offers-caption {
        font-size: 1.5rem;
        margin-bottom: 60px;
    }

    .advantages {
        padding: 50px 10px 30px 10px;
    }

    .portfolio img {
        width: 160px;
        height: 125px;
    }

    .comments-item {
        width: 380px;
        padding: 10px;
    }

    .comments {
        padding-bottom: 30px;
    }

    .comments-item-text {
        font-size: 0.875rem;
    }

    .payment-sub-caption {
        text-align: left;
        font-size: 1.25rem;
    }

    .payment-item-description-text {
        font-size: 1rem;
    }

    .payment-item img {
        max-width: 380px;
        height: 250px;
    }

    .consultation-item-form-mobile input {
        width: 350px;
    }
}

@media screen and (max-width: 420px) {
    .profile-selection-picking-wrapper {
        padding-top: 10px !important;
    }

    .profile-selection-picking-item {
        width: 300px;
    }

    .profile-selection-caption {
        font-size: 1.5rem;
    }

    .profile-selection-img img {
        width: 245px;
        height: 347px;
    }

    .advantages-item h3 {
        font-size: 1.2rem;
    }

    .work-time-item img,
    .about-us-item img {
        height: 290px;
    }

    .about-us-item-icons img {
        height: 40px;
    }

    .work-scheme,
    .about-us {
        padding-bottom: 30px;
    }

    .portfolio img {
        width: 140px;
        height: 105px;
    }

    .comments-item {
        width: 320px;
    }

    .comments-item-text {
        margin-top: 5px;
    }

    .comments-indicators {
        margin: 0px auto;
    }

    .payment-caption {
        font-size: 1.5rem;
    }

    .payment-sub-caption {
        text-align: left;
        font-size: 1rem;
    }

    .payment-item-description-text {
        font-size: 0.875rem;
    }

    .payment-item img {
        max-width: 300px;
        height: 200px;
    }

    .payment {
        padding: 0px 10px 50px 10px;
    }

    .consultation-item-form-mobile h4 {
        font-size: 1rem;
    }

    .consultation-item-form-text {
        font-size: 0.875rem;
    }

    .consultation-item-form-mobile input {
        font-size: 0.875rem;
        width: 320px;
        margin-bottom: 15px !important;
    }
}

@media screen and (max-width: 360px) {
    .portfolio-item {
        justify-content: space-around !important;
    }

    .advantages {
        padding: 50px 10px 0px 10px;
    }

    .comments-item {
        width: 300px;
    }

    .consultation-item-form-mobile input {
        width: 290px;
    }

    .windows-caption {
        font-size: 1.3rem;
    }
}