* {
    font-family: 'San Francisco Pro Display Thin', sans-serif;
    box-sizing: border-box;
    font-weight: 500;
    font-size: 1rem;
}

a {
    color: #000;
}

html {
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
    background: #fff;
}

.logo {
    width: 145px;
    height: 70px;
    background: #000;
    margin-right: 12px;
}

.nav-link {
    margin-left: 38px;
}
